/* Clear floats after the columns */
.Row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.Column {
  /* float: left; */
  margin: auto;
  width: 70%;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .Leftcolumn,
  .Rightcolumn {
    width: 100%;
    padding: 0;
  }
}
